/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* UTILITIES */
.wrap-container {
    width: 1200px;
    margin: 0 auto;
}

.main-header {
    height: 100px;
    background-color: #e67ae7;
}
.slider {
    height: 500px;
    background-color: #e1d67a ;
}

/* MAIN CONTENT */



/* FOOTER CONTENT  */