/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header {
    height: 100px;
    margin: 30px 0 20px;
    background-color: #e67ae7;

}
.slider {
    height: 400px;
    margin-bottom: 15px;
    background-color: #e1d67a;
}

/* UTILITIES */
.wrap-container {
    width: 1200px;
    margin: 0 auto;
}
.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

/* MAIN CONTENT */
.main-content {
    margin: 20px 0 15px;
    background-color: #3a87ff;
}

.main-content .title-article {
    height: 100px;
    background-color: #accfe6;
}
.main-content .column {
    height: 450px;
    margin: 20px 0;
    float: left;
    background-color: #accfe6;
}
.column.left,
.column.right {
    width: 25%;
}
.column.center {
    margin-right: 15px;
    margin-left: 15px;
    width: calc(50% - 30px);
}


/* FOOTER CONTENT  */
footer {
    height: 50px;
    background-color: #8901ff;
}
